!!!
%head
  %title Travel Journal
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags 
%body
  %h1.banner Travel Journal
  %hr.rule
  = yield
  %hr.rule
