<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="banner">Travel Journal</h1>
  <hr class="rule" />
  <%= yield %>
  <hr class="rule" />
</body>
</html>
